<table bgcolor="#f1f1f1" width="100%" height="100%" align="center" style="border-collapse:collapse" border="0" cellspacing="0" cellpadding="0">
    <tbody><tr align="center">
      <td valign="top">

        <table bgcolor="#fff" height="100" style="border-collapse:collapse" border="0" cellspacing="0" cellpadding="0">
        	<tbody><tr valign="middle" height="40">

          
          <td width="9"></td>

          
          <td width="300" valign="middle">
            <img src="http://3.bp.blogspot.com/-PMXEBDexJ_0/UK-7hjHgZaI/AAAAAAAAN90/C5_6t2CIXgY/s1600/Imagenes+baby+shower+png+0.png" border="0" alt="Cuenta Ukanbook" style="display:block" height="125">
          </td>

          
          <td width="210" style="font-size:13px;font-family:arial,sans-serif;color:#777777;text-align:right">
            
          </td>

          
          

          
          </tr>
        </tbody></table>

        
        <table border="1" cellspacing="0" cellpadding="0" bgcolor="#ffffff" style="text-align:left">

          
          <tbody><tr>
            <td height="15" style="border-top:none;border-bottom:none;border-left:none;border-right:none">
            </td>
          </tr>

          <tr>
            
            <td width="15" style="border-top:none;border-bottom:none;border-left:none;border-right:none">
            </td>

            
            <td width="568" valign="top" style="font-size:83%;border-top:none;border-bottom:none;border-left:none;border-right:none;font-size:13px;font-family:arial,sans-serif;color:#222222;line-height:18px">
            

 Hola gracias por seleccionar tu regalo, me siento muy contento de que asistir&aacute;s a mi baby shower. 
<br>
<strong>Recuerda que tu regalo seleccionado es:</strong>
<br>

<h3><strong>{{regalo.titulo}}</strong></h3>
<br>
<strong>{{regalo.contenido}}</strong>
<br>
{{regalo.imagen|safe}}
<br>
<br>
<h2>
 Te espero.<br></h2>
 D&iacute;a: <strong>05 de Octubre de 2013</strong><br>
 Hora: <strong>3:30 pm</strong><br>
 Drirecci&oacute;n: <strong>Calle 25 # 69 - 51 Sal&oacute;n Social Salitre Park</strong><br> 
 Parqueadero Limitado.<br>

<a href="https://maps.google.es/maps?q=Salitre+Park,+Sauzalito,+Bogot%C3%A1,+Colombia&hl=es&ie=UTF8&ll=4.656999,-74.109542&spn=0.003465,0.004656&sll=40.396764,-3.713379&sspn=10.839,19.072266&oq=salitre+par&t=m&hq=Salitre+Park,&hnear=Sauzalito,+Teusaquillo,+Bogot%C3%A1,+Bogota,+Colombia&cid=1840849772198410007&z=18&iwloc=A">
<h2>¿C&oacute;mo llegar?</h2><br>
<img src="https://maps.google.com/maps/api/staticmap?size=300x300&maptype=roadmap&sensor=false&markers=color:red%7C4.657001,-74.109544&client=google-maps-sharing&signature=r5h6QnO3B04nIBn5azLnTmIEW88=">
</a>
  
 <br>
<br>

<h2>                 Atentamente,<br> Juan David </h2><br>Nuevo miembro de ukanbook
                </td>
                
                <td width="15" style="border-top:none;border-bottom:none;border-left:none;border-right:none">
                </td>

              </tr>
              
              <tr>
                <td height="15" style="border-top:none;border-bottom:none;border-left:none;border-right:none">
                </td>
              </tr>

              
              <tr>

                
                <td width="15" style="border-top:none;border-bottom:none;border-left:none;border-right:none"></td>

                
                <td width="568" style="font-size:11px;font-family:arial,sans-serif;color:#777777;border-top:none;border-bottom:none;border-left:none;border-right:none">
                  
                </td>

                
                <td width="15" style="border-top:none;border-bottom:none;border-left:none;border-right:none"></td>
              </tr>
              
              
              <tr>
                <td height="15" style="border-top:none;border-bottom:none;border-left:none;border-right:none">
                </td>
              </tr>
            </tbody></table>

            
            <table bgcolor="#f1f1f1" height="80" style="text-align:left">
              <tbody><tr valign="middle">

                
                <td style="font-size:11px;font-family:arial,sans-serif;color:#777777">
                   
                 	&copy; 2013 Ukanbook., Calle 73 a # 81 a - 37 Bogot&aacute;, Colombia Tel 8016509.
                  
                </td>

              
              </tr>
            </tbody></table>

          </td>
        </tr>
      </tbody></table>